<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/machine-learning-bootcamp/exercises/11_20_rozwiazania.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 11-20 Ćwiczenia

### Ćwiczenie 11
Podany jest poniższy obiekt *DataFrame df*:
```
   weight weight_cut
0    75.0      light
1    78.5     normal
2    85.0      heavy
3    91.0      heavy
4    84.5      heavy
5    83.0      heavy
6    68.0      light
```
Dokonaj kodowania 0-1 obiektu *df* (dokładnie zmiennej *weight_cut*) dzięki funkcji *pd.get_dummies()*. Wynik wydrukuj do konsoli.

**Oczekiwany wynik:**
```
   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0
```

In [1]:
import pandas as pd
 
 
df = pd.DataFrame(data={'weight': [75., 78.5, 85., 91., 84.5, 83., 68.]})
df['weight_cut'] = pd.cut(df['weight'], bins=(60, 75, 80, 95), labels=['light', 'normal', 'heavy'])
df = pd.get_dummies(df)
print(df)

   weight  weight_cut_light  weight_cut_normal  weight_cut_heavy
0    75.0                 1                  0                 0
1    78.5                 0                  1                 0
2    85.0                 0                  0                 1
3    91.0                 0                  0                 1
4    84.5                 0                  0                 1
5    83.0                 0                  0                 1
6    68.0                 1                  0                 0

### Ćwiczenie 12
Podany jest poniższy obiekt *DataFrame df*:
```
               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []
```
Do obiektu *df* przypisz nową kolumnę o nazwie *number*, która przyjmie liczbę elementów listy w kolumnie *currency*. Wynik wydrukuj do konsoli.

**Oczekiwany wynik:**
```
               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0
```

In [2]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
df['number'] = df['currency'].apply(len)
print(df)

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

### Ćwiczenie 13
Podany jest poniższy obiekt *DataFrame df*:
```
               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []
```
Przypisz do obiektu *df* nową kolumnę o nazwie *PLN_flag*, która przyjmie wartość 1, gdy waluta `'PLN'` będzie w liście w kolumnie *currency* i przeciwnie 0. Wynik wydrukuj do konsoli.

**Oczekiwany wynik:**
```
               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0
```

In [3]:
import pandas as pd


data_dict = {
    'currency': [['PLN', 'USD'], ['EUR', 'USD', 'PLN', 'CAD'], ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}
df = pd.DataFrame(data=data_dict)
df['PLN_flag'] = df['currency'].apply(lambda item: 1 if 'PLN' in item else 0)
print(df)

               currency  PLN_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

### Ćwiczenie 14
Podany jest poniższy obiekt *DataFrame df*:
```
              hashtags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout
```
Podziel wartości zmiennej *hashtags* względem znaku hash `#` używając metody *pd.Series.str.split()* z parametrem `expand=True`. Otrzymasz cztery kolumny. Przykładowo dla wiersza drugiego:
```
'#hot#summer#holiday'
```
odpowiednio:
```
['', 'hot', 'summer', 'holiday']
```
Usuń pierwszą kolumnę z tak otrzymanego obiektu (pierwsza kolumna zawiera puste stringi). Następnie przypisz nazwy pozostałych kolumn odpowiednio:

* *hashtag1*
* *hashtag2*
* *hashtag3*

Postać końcową obiektu *df* wydrukuj do konsoli.

**Oczekiwany wynik:**
```
  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None
```

In [18]:
df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df = df['hashtags'].str.split('#', expand=True)
# można też: 
# df = df.drop([0], axis=1)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
print(df)

  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None

### Ćwiczenie 15
Podany jest poniższy obiekt *df*:
```
  hashtag1 hashtag2 hashtag3
0     good    vibes     None
1      hot   summer  holiday
2   street     food     None
3  workout     None     None
```
Utwórz nową kolumnę o nazwie *missing* w obiekcie *df* i przypisz do niej liczbę brakujących hashtagów dla każdego wiersza. Przykładowo, wiersz pierwszy -> 1, wiersz drugi -> 0, wiersz trzeci -> 1, itd. 

W odpowiedzi wydrukuj obiekt *df* do konsoli.

**Oczekiwany wynik:**
```
  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2
```

In [17]:
import pandas as pd


df = pd.DataFrame(data={'hashtags': ['#good#vibes', '#hot#summer#holiday', '#street#food', '#workout']})
df = df['hashtags'].str.split('#', expand=True)
df = df.drop(columns=[0])
df.columns = ['hashtag1', 'hashtag2', 'hashtag3']
# można też: 
# df["missing"] = df.apply(lambda x: sum(x.isna()), axis=1)
df['missing'] = df.isnull().sum(axis=1)
print(df)

  hashtag1 hashtag2 hashtag3  missing
0     good    vibes     None        1
1      hot   summer  holiday        0
2   street     food     None        1
3  workout     None     None        2

### Ćwiczenie 16
Podany jest poniższy obiekt *df*:
```
   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000
```
Przygotuj zmienną *investments* do modelu, tzn. przekształć ją odpowiednio na typ *int*. Wynik wydrukuj do konsoli.

**Oczekiwany wynik:**
```
   investments
0    100000000
1       100000
2     30000000
3    100500000
```

In [28]:
import pandas as pd


df = pd.DataFrame(data={'investments': ['100_000_000', '100_000', '30_000_000', '100_500_000']})
df['investments'] = df['investments'].str.replace('_', '').astype(int)
print(df)

   investments
0    100000000
1       100000
2     30000000
3    100500000

### Ćwiczenie 17
Załaduj zbiór danych IRIS do zmiennej *data* wykorzystując bibliotekę *scikit-learn* oraz funkcję *load_iris()*. Następnie wyświetl wszystkie klucze zmiennej *data*.

**Wskazówka:**

Więcej na temat funkcji *load_iris()*: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html

**Oczekiwany wynik:**
```
dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])
```

In [29]:
from sklearn.datasets import load_iris


data = load_iris()
print(data.keys())

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

### Ćwiczenie 18
Załadowano zbiór IRIS wykorzystując bibliotekę *scikit-learn* do zmiennej *data*.

Wyświetl nazwy zmiennych oraz nazwy klas w zbiorze IRIS tak jak pokazano poniżej.

**Oczekiwany wynik:**
```
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']
```

In [30]:
from sklearn.datasets import load_iris


data = load_iris()
print(data['feature_names'])
print(data['target_names'])

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
['setosa' 'versicolor' 'virginica']

### Ćwiczenie 19
Poniżej załadowano zbiór IRIS wykorzystując bibliotekę *scikit-learn* do zmiennej *data_raw*. Do zmiennej *data* przypisz dane (tablica *numpy*) zbioru IRIS. Do zmiennej *target* przypisz wartości zmiennej docelowej (*target*) ze zbioru IRIS. Wydrukuj kształt zmiennych: *data* oraz *target* do konsoli.

**Oczekiwany wynik:**
```
(150, 4)
(150,)
```

In [33]:
from sklearn.datasets import load_iris


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
print(data.shape)
print(target.shape)

print("Typy")
print(type(data))
print(type(target))

(150, 4)
(150,)
Typy
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

### Ćwiczenie 20
Poniżej załadowano zbiór IRIS wykorzystując bibliotekę *scikit-learn* do zmiennej *data_raw*. Do zmiennej *data* przypisano dane zbioru IRIS. Do zmiennej *target* przypisano wartości zmiennej docelowej ze zbioru IRIS. Wykorzystując bibliotekę *scikit-learn* oraz funkcję *train_test_split()* podziel dane na zbiór treningowy (*data_train, target_train*) i testowy (*data_test, target_test*). Ustal rozmiar zbioru testowego na 30% próbek. 

W odpowiedzi wyświetl rozmiar zbiorów:

* data_train
* target_train
* data_test
* target_test

**Wskazówka:**

Więcej o funkcji *train_test_split()*: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

**Oczekiwany wynik:**
```
data_train shape: (105, 4)
target_train shape: (105,)
data_test shape: (45, 4)
target_test shape: (45,)
```

In [34]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split


data_raw = load_iris()
data = data_raw['data']
target = data_raw['target']
data_train, data_test, target_train, target_test = train_test_split(data, target, test_size=0.3)
print(f'data_train shape: {data_train.shape}')
print(f'target_train shape: {target_train.shape}')
print(f'data_test shape: {data_test.shape}')
print(f'target_test shape: {target_test.shape}')

data_train shape: (105, 4)
target_train shape: (105,)
data_test shape: (45, 4)
target_test shape: (45,)