<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/training/podzia%C5%82_kolumny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
# nowa DataFrame z nazwami portali
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [9]:
# expand=True buduje dwie nowe kolumny
new_column = df["website"].str.split('.', expand=True)
df['portal'] = new_column[0]
df['domena'] = new_column[1]
# usuwa starą kolumnę
df = df.drop(columns="website")
df

   portal domena
0      wp     pl
1    onet     pl
2  google    com