<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/training/podzia%C5%82_kolumny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
# nowa DataFrame z nazwami portali
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com', 'pajacyk.org']})
df

       website
0        wp.pl
1      onet.pl
2   google.com
3  pajacyk.org

In [22]:
# expand=True buduje dwie nowe kolumny w nowej df
new_df_with_column_names_0_and_1 = df["website"].str.split('.', expand=True)
# kolumny z nowej df przypisuje do starej df
df['portal'] = new_df_with_column_names_0_and_1[0]
df['domena'] = new_df_with_column_names_0_and_1[1]

# typ nowej df
print(type(new_df_with_column_names_0_and_1))
# kolumny nowej df
print(new_df_with_column_names_0_and_1.columns)
# indeksy nowej df
print(new_df_with_column_names_0_and_1.index)

# usuwa starą kolumnę
df = df.drop(columns="website")
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=4, step=1)

    portal domena
0       wp     pl
1     onet     pl
2   google    com
3  pajacyk    org