<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/training/to_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **to_datetime**

In [16]:
print("now to dzisiejsza data i czas")
now = pd.to_datetime("now")
print(now)
print(type(now))

print()
print("Tak samo jak now działa today")
today = pd.to_datetime("today")
print(today)
print(type(today))

print()
print("Bieżący rok")
now = pd.to_datetime("now")
print(now.year)

print()
print("Bieżący miesiąc")
now = pd.to_datetime("now")
print(now.month)

print()
print("Bieżący dzień")
now = pd.to_datetime("now")
print(now.day)

print()
print("Bieżąca godzina")
print(now.hour)

print()
print("Bieżąca minuta")
print(now.minute)

now to dzisiejsza data i czas
2021-03-16 08:58:08.975261
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Tak samo jak now działa today
2021-03-16 08:58:08.976249
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Bieżący rok
2021

Bieżący miesiąc
3

Bieżący dzień
16

Bieżąca godzina
8

Bieżąca minuta
58

In [9]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

# **datetime (zdeprecjonowana)**

In [ ]:
import pandas as pd

# zdeprecjonowana klasa pandas.datetime
df = pd.DataFrame({
    "data_godzina": [pd.datetime.now()],
    "data": [pd.datetime.now().date()],
    "rok": [pd.datetime.now().year],
    "miesiac": [pd.datetime.now().month],
    "dzien": [pd.datetime.now().day],
    "godzina": [pd.datetime.now().hour],
    "minuta": [pd.datetime.now().minute],
})

df

In [20]:
# dodam 2 dni do kolumny "dzien"
df["dzien"] = df["dzien"] + 2
df

                data_godzina        data   rok  miesiac  dzien  godzina  minuta
0 2021-03-16 09:00:21.109581  2021-03-16  2021        3     18        9       0