<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/training/to_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **to_datetime i strftime**

In [ ]:
import pandas as pd

# stąd strftime
# https://www.programiz.com/python-programming/datetime/strftime

# tak samo jak now działa today
# cała data z czasem jako Timestamp
print("now to dzisiejsza data i czas")
now = pd.to_datetime("now")
print(now)
print(type(now))
# cała data i czas jako string (zmieniłem format wyświetlania)
now_as_string = now.strftime("moja data %Y / %m / %d, moja godzina %H : %M : %S")
print("now_as_string:", now_as_string)
print(type(now_as_string))

print()
# rok jako int
print("Bieżący rok")
now = pd.to_datetime("now")
print(now.year)
print(type(now.year))
# rok jako string (pierwszy sposób zamianiy, bo drugi pod spodem)
year_as_string = str(now.year)
print("year_as_string:", year_as_string)
print(type(year_as_string))

print()
# miesiąc jako int
print("Bieżący miesiąc")
now = pd.to_datetime("now")
print(now.month)
print(type(now.month))
# miesiąc jako string
month_as_string = now.strftime("%m")
print("month_as_string:", month_as_string)
print(type(year_as_string))

print()
# dzień jako int
print("Bieżący dzień")
now = pd.to_datetime("now")
print(now.day)
print(type(now.day))
# dzień jako string
day_as_string = now.strftime("%d")
print("day_as_string:", day_as_string)
print(type(day_as_string))

print()
# godzina jako int
print("Bieżąca godzina")
print(now.hour)
print(type(now.hour))

print()
print("Bieżąca minuta")
print(now.minute)
print(type(now.year))

now to dzisiejsza data i czas
2021-03-16 14:43:17.620989
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
now_as_string: moja data 2021 / 03 / 16, moja godzina 14 : 43 : 17
<class 'str'>

Bieżący rok
2021
<class 'int'>
year_as_string: 2021
<class 'str'>

Bieżący miesiąc
3
<class 'int'>
month_as_string: 03
<class 'str'>

Bieżący dzień
16
<class 'int'>
day_as_string: 16
<class 'str'>

Bieżąca godzina
14
<class 'int'>

Bieżąca minuta
43
<class 'int'>

In [ ]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

# **datetime (zdeprecjonowana)**

In [ ]:
# zdeprecjonowana klasa pandas.datetime
df = pd.DataFrame({
    "data_godzina": [pd.datetime.now()],
    "data": [pd.datetime.now().date()],
    "rok": [pd.datetime.now().year],
    "miesiac": [pd.datetime.now().month],
    "dzien": [pd.datetime.now().day],
    "godzina": [pd.datetime.now().hour],
    "minuta": [pd.datetime.now().minute],
})

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  if __name__ == '__main__':

                data_godzina        data   rok  miesiac  dzien  godzina  minuta
0 2021-03-16 14:43:17.817982  2021-03-16  2021        3     16       14      43

In [ ]:
# dodam 2 dni do kolumny "dzien"
df["dzien"] = df["dzien"] + 2
df

                data_godzina        data   rok  miesiac  dzien  godzina  minuta
0 2021-03-16 14:43:17.817982  2021-03-16  2021        3     18       14      43

### z timestamp na datetime

In [11]:
# zamiana timestamp na datę
import datetime
# obciąłem ostatnie 3 zera żeby nie było milisekund
timestamp = datetime.datetime.fromtimestamp(1496275200)
print(timestamp.strftime('%Y-%m-%d %H:%M:%S'))

2017-06-01 00:00:00

In [12]:
# inaczej zamiana timestamp na datę
import pandas as pd

# aż do milisekundy która i tak nie jest uwzględniona
pd.Timestamp(1496275200000, unit='ms')

Timestamp('2017-06-01 00:00:00')

In [15]:
# zamienia timestamp na datę
from datetime import datetime

timestamp = 1496275200
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2017-06-01 00:00:00
type(dt_object) = <class 'datetime.datetime'>

### z datetime na timestamp

In [31]:
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp teraz=", timestamp)

# date_string = "2017-06-01 00:03:52"
date_string = "2017-06-01"
date_dt = datetime.strptime(date_string, '%Y-%m-%d')
print("date_dt =", date_dt)
timestamp2 = datetime.timestamp(date_dt)
# bez round dawało jedno 0 po kropce
print("timestamp date_dt =", round(timestamp2))

timestamp teraz= 1619284456.366748
date_dt = 2017-06-01 00:00:00
timestamp date_dt = 1496275200