<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/training/analityk.edu.pl/pandas_tutorial/03_tworzenie_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://analityk.edu.pl/python-pandas-tutorial-prosty-dataframe/

Na samym początku spojrzymy na przykładowy DataFrame. Skorzystamy z pliku 'imiona'. Najpierw, w naszym programie, zaimportujemy bibliotekę Pandas, a następnie za pomocą funkcji 'read_excel', wczytamy nasz plik. Samą funkcją nie musimy się jeszcze przejmować. Operacje na plikach będziemy omawiać w kolejnych lekcjach.

In [ ]:
# to jego, ale ja nie robię u siebie na kompie
# pd.read_excel('c:/python/pandas/imiona.xlsx')

!wget -O imiona.xlsx "https://drive.google.com/uc?export=download&id=1zNKmAy9PTnHhZ2ZJ1Rdys9VP-C4HkuyU"

--2021-01-17 23:32:19--  https://drive.google.com/uc?export=download&id=1zNKmAy9PTnHhZ2ZJ1Rdys9VP-C4HkuyU
Resolving drive.google.com (drive.google.com)... 209.85.200.102, 209.85.200.139, 209.85.200.138, ...
Connecting to drive.google.com (drive.google.com)|209.85.200.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0s-9o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mui4v2r9vopit6g6h7kef03iqqts7hc4/1610926275000/17661347493353663657/*/1zNKmAy9PTnHhZ2ZJ1Rdys9VP-C4HkuyU?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-01-17 23:32:20--  https://doc-0s-9o-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/mui4v2r9vopit6g6h7kef03iqqts7hc4/1610926275000/17661347493353663657/*/1zNKmAy9PTnHhZ2ZJ1Rdys9VP-C4HkuyU?e=download
Resolving doc-0s-9o-docs.googleusercontent.com (doc-0s-9o-docs.googleusercontent.com)... 142.250.125.132, 2607:f8b0:4001:c2f::84
Connecting to doc-0s-9o-docs.googleusercontent.com (doc-0s-9o-docs.googleusercontent.com)|142.250.125.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8133 (7.9K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘imiona.xlsx’

imiona.xlsx         100%[===================>]   7.94K  --.-KB/s    in 0s

2021-01-17 23:32:20 (85.9 MB/s) - ‘imiona.xlsx’ saved [8133/8133]

Wygląda zupełnie jak znana nam z Excela tabela. Ma wiersze oraz kolumny. Kolumny mogą być różnych typów, ale o tym jeszcze będziemy rozmawiać.

Dodatkowo pojawiają się 2 rzeczy, na które warto od razy zwrócić uwagę:

Index – jest to swoisty adres danego wiersza lub kolumny. Na obrazku powyżej wskazany jest index wiersza. Indexy to ważna rzecz. Ułatwiają nam jednoznaczną identyfikację danego elementu. W naszym przypadku indexem dla wierszy są liczby. Nie musi tak być. Jako index mogli byśmy ustawić imię, pod warunkiem że dane imię występowało by w pliku tylko raz.
NaN – czyli puste komórki. Jeden z największych wrogów prawdziwych analityków danych. Będziemy na nie często zwracać uwagę i podejmować odpowiednie akcje aby nie wpływały negatywnie na wyniki naszych analiz. Czasami będziemy kasować wiesze z wartościami NaN, czasami zamieniać je na zera itd
To wszystko będziemy omawiać w kolejnych lekcjach, ale krok po kroku.

**Pusty DataFrame**


Zobaczmy jak możemy utworzyć pusty DataFrame za pomocą funkcji pd.DataFrame()

In [ ]:
import pandas as pd
zbior = pd.DataFrame()
print(zbior)

Empty DataFrame
Columns: []
Index: []

## **DataFrame na podstawie listy**

Czas na utworzenie DataFrame który będzie zawierać dane. Jednym ze sposobów jest utworzenie go na podstawie list.

In [ ]:
lista = [1,2,5,7]
df_liczby = pd.DataFrame(lista)

Kolumna po lewej stronie to nasz index. Od 0 do 3. Identyfikuje on jednoznacznie dany wiersz. Kolumna z wartościami ma etykietę 0. Dla tego że nie nadaliśmy jej jeszcze żadnej nazwy. Zmieńmy to:

In [ ]:
df_liczby.columns = ['Liczby']
df_liczby

   Liczby
0       1
1       2
2       5
3       7

Możemy też stworzyć DataFrame z klikoma kolumnami:

In [ ]:
# listy są wierszami w df
lista = [[1,2,5,7],[11,22,55,77]]
df = pd.DataFrame(lista)
df.columns = ['One', 'Two', 'Three', 'Four']
print(df)

   One  Two  Three  Four
0    1    2      5     7
1   11   22     55    77

## **DataFrame na podstawie słownika**

Innym sposobem utworzenia DataFrame, jest na podstawie słownika. W tym przypadku klucze słownika, stają się automatycznie nazwami kolumn. Bardzo wygodne. Wygląda to równie prosto jak w przypadku życia list:

In [ ]:
slownik = {
    'Imie':['Ania','Michał','Przemek'], 
    'Wiek':[18,25,40]
    }

df_slownik = pd.DataFrame(slownik)
print(df_slownik)

## **DataFrame, na podstawie Series**

I jeszcze jeden sposób utworzenia DataFrame o którym warta wspomnieć na tym etapie. Otóż w Pandas oprócz DataFrame, mamy jeszcze jeden specyficzny typ danych, Mianowicie Series.

Series jest bardzo podobne do list, z tym wyjątkiem że w przeciwieństwie do list Series posiada index, zupełnie jak DataFrame. Spójrzmy:

In [ ]:
s = pd.Series([11,33,55,99])
print(s)

0    11
1    33
2    55
3    99
dtype: int64

Tak jak widzimy mamy zarówno index jak i kolumnę z wartościami. DataFrame utworzymy w znany nam sposób:

In [ ]:
pd.DataFrame(s)

    0
0  11
1  33
2  55
3  99