<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/pandas_course/05_merge_join_concatenate/01_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -*- coding: utf-8 -*-

"""
@author: krakowiakpawel9@gmail.com
@site: e-smartdata.org
"""

import numpy as np
import pandas as pd

In [2]:
print("Trzy DataFrame z rozkładu jednostajnego (uniform) o wartościach z przedziału [0,1),")
print("czyli U[0,1). Każda ma rozmiar 10 wierszy na 4 kolumny.")

df1 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df1 = ")
print(df1)

df2 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df2 = ")
print(df2)

df3 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df3 = ")
print(df3)

Trzy DataFrame z rozkładu jednostajnego (uniform) o wartościach z przedziału [0,1),
czyli U[0,1). Każda ma rozmiar 10 wierszy na 4 kolumny.

df1 =
          a         b         c         d
0  0.677042  0.452462  0.150955  0.702708
1  0.888250  0.895695  0.303549  0.756282
2  0.873549  0.006901  0.029535  0.983469
3  0.395971  0.741815  0.312813  0.265957
4  0.691468  0.802493  0.427986  0.315133
5  0.414420  0.939456  0.275817  0.067023
6  0.447126  0.811695  0.240195  0.566456
7  0.205144  0.077627  0.084269  0.868197
8  0.547196  0.120749  0.780912  0.486129
9  0.084513  0.470887  0.760694  0.391995

df2 =
          a         b         c         d
0  0.662239  0.996904  0.844564  0.449484
1  0.654217  0.962428  0.635746  0.762780
2  0.131577  0.753619  0.728266  0.550705
3  0.385351  0.624848  0.216264  0.532771
4  0.204892  0.245655  0.687302  0.274938
5  0.802673  0.661805  0.000759  0.793828
6  0.096253  0.528702  0.090313  0.387211
7  0.301891  0.945327  0.609079  0.929754
8  0.035928  0.004308  0.160418  0.807653
9  0.006976  0.785180  0.288267  0.456486

df3 =
          a         b         c         d
0  0.050701  0.617132  0.916762  0.673325
1  0.810132  0.135169  0.529520  0.500348
2  0.201753  0.158768  0.926523  0.045762
3  0.035711  0.387118  0.065983  0.113168
4  0.391209  0.666198  0.492017  0.937504
5  0.452914  0.552260  0.070812  0.629981
6  0.963451  0.387390  0.150498  0.998861
7  0.480451  0.970848  0.786405  0.349897
8  0.613963  0.149701  0.624655  0.975348
9  0.108193  0.544655  0.142135  0.108049

In [3]:
print("Series o nazwie x, która zawiera 10 liczb z rozkładu U[0,1).")
s = pd.Series(np.random.rand(10), name='x')
print("s = ")
print(s)

Series o nazwie x, która zawiera 10 liczb z rozkładu U[0,1).
s =
0    0.004693
1    0.638234
2    0.778071
3    0.562976
4    0.756678
5    0.300422
6    0.482250
7    0.997123
8    0.798458
9    0.281996
Name: x, dtype: float64

In [4]:
# %% concat bez pamiętania indeksów
print()
df = pd.concat([df1, df2, df3], ignore_index=True)
print("Domyślnie łączy po wierszach axis=0.")
print("Parametr ignore_index=True ignoruje indeksy ze składowych df.")
print("Domyślnie ignore_index=False czyli pobiera indeksy ze składowych df1,df2,df3.")
print("df =")
print(df)

Domyślnie łączy po wierszach axis=0.
Parametr ignore_index=True ignoruje indeksy ze składowych df.
Domyślnie ignore_index=False czyli pobiera indeksy ze składowych df1,df2,df3.
df =
           a         b         c         d
0   0.677042  0.452462  0.150955  0.702708
1   0.888250  0.895695  0.303549  0.756282
2   0.873549  0.006901  0.029535  0.983469
3   0.395971  0.741815  0.312813  0.265957
4   0.691468  0.802493  0.427986  0.315133
5   0.414420  0.939456  0.275817  0.067023
6   0.447126  0.811695  0.240195  0.566456
7   0.205144  0.077627  0.084269  0.868197
8   0.547196  0.120749  0.780912  0.486129
9   0.084513  0.470887  0.760694  0.391995
10  0.662239  0.996904  0.844564  0.449484
11  0.654217  0.962428  0.635746  0.762780
12  0.131577  0.753619  0.728266  0.550705
13  0.385351  0.624848  0.216264  0.532771
14  0.204892  0.245655  0.687302  0.274938
15  0.802673  0.661805  0.000759  0.793828
16  0.096253  0.528702  0.090313  0.387211
17  0.301891  0.945327  0.609079  0.929754
18  0.035928  0.004308  0.160418  0.807653
19  0.006976  0.785180  0.288267  0.456486
20  0.050701  0.617132  0.916762  0.673325
21  0.810132  0.135169  0.529520  0.500348
22  0.201753  0.158768  0.926523  0.045762
23  0.035711  0.387118  0.065983  0.113168
24  0.391209  0.666198  0.492017  0.937504
25  0.452914  0.552260  0.070812  0.629981
26  0.963451  0.387390  0.150498  0.998861
27  0.480451  0.970848  0.786405  0.349897
28  0.613963  0.149701  0.624655  0.975348
29  0.108193  0.544655  0.142135  0.108049

In [5]:
# %%
print()
df = pd.concat([df1, df2, df3])
df.reset_index()
print("Domyślnie jest ignore_index=False więc indeksy zachowa z początkowych df.")
print("Tutaj nie działa reset_index() bo ta metoda bierze wcześniej ustalone indeksy")
print("i robi z nich kolumnę, a jako indeksy bierze liczby 0,1,2,...")
print("U nas wcześniej były tylko 0,1,2,... więc nie ma co resetować")
print("df =")
print(df)

Domyślnie jest ignore_index=False więc indeksy zachowa z początkowych df.
Tutaj nie działa reset_index() bo ta metoda bierze wcześniej ustalone indeksy
i robi z nich kolumnę, a jako indeksy bierze liczby 0,1,2,...
U nas wcześniej były tylko 0,1,2,... więc nie ma co resetować
df =
          a         b         c         d
0  0.677042  0.452462  0.150955  0.702708
1  0.888250  0.895695  0.303549  0.756282
2  0.873549  0.006901  0.029535  0.983469
3  0.395971  0.741815  0.312813  0.265957
4  0.691468  0.802493  0.427986  0.315133
5  0.414420  0.939456  0.275817  0.067023
6  0.447126  0.811695  0.240195  0.566456
7  0.205144  0.077627  0.084269  0.868197
8  0.547196  0.120749  0.780912  0.486129
9  0.084513  0.470887  0.760694  0.391995
0  0.662239  0.996904  0.844564  0.449484
1  0.654217  0.962428  0.635746  0.762780
2  0.131577  0.753619  0.728266  0.550705
3  0.385351  0.624848  0.216264  0.532771
4  0.204892  0.245655  0.687302  0.274938
5  0.802673  0.661805  0.000759  0.793828
6  0.096253  0.528702  0.090313  0.387211
7  0.301891  0.945327  0.609079  0.929754
8  0.035928  0.004308  0.160418  0.807653
9  0.006976  0.785180  0.288267  0.456486
0  0.050701  0.617132  0.916762  0.673325
1  0.810132  0.135169  0.529520  0.500348
2  0.201753  0.158768  0.926523  0.045762
3  0.035711  0.387118  0.065983  0.113168
4  0.391209  0.666198  0.492017  0.937504
5  0.452914  0.552260  0.070812  0.629981
6  0.963451  0.387390  0.150498  0.998861
7  0.480451  0.970848  0.786405  0.349897
8  0.613963  0.149701  0.624655  0.975348
9  0.108193  0.544655  0.142135  0.108049

In [6]:
# moje
print()
print("Sam robię df ze swoimi indeksami, żeby potem je zresetować.")
moje_indeksy = ['A', 'B', 'C', 'D', 'E']
moje_df = pd.DataFrame(data=np.random.randn(5,3), 
                       index=moje_indeksy,
                       columns=["Pierwsza", "Druga", "Trzecia"])
print("moje_df =")
print(moje_df)
print()
print("Po resecie indeksów")
moje_df_po_resecie = moje_df.reset_index()
print("moje_df_po_resecie =")
print(moje_df_po_resecie)

print()
print("Po resecie indeksów i drop=True, czyli w ogóle usuwa wcześniej ustawiony indeks.")
moje_df_po_resecie_drop_true = moje_df.reset_index(drop=True)
print("moje_df_po_resecie_drop_true =")
print(moje_df_po_resecie_drop_true)

Sam robię df ze swoimi indeksami, żeby potem je zresetować.
moje_df =
   Pierwsza     Druga   Trzecia
A  0.579543 -0.129689  0.347371
B  0.088428  0.819645 -0.502958
C  0.871076 -1.652194  0.192992
D  0.226394 -0.607706  0.359438
E -1.517297 -0.940607 -0.307230

Po resecie indeksów
moje_df_po_resecie =
  index  Pierwsza     Druga   Trzecia
0     A  0.579543 -0.129689  0.347371
1     B  0.088428  0.819645 -0.502958
2     C  0.871076 -1.652194  0.192992
3     D  0.226394 -0.607706  0.359438
4     E -1.517297 -0.940607 -0.307230

Po resecie indeksów i drop=True, czyli w ogóle usuwa wcześniej ustawiony indeks.
moje_df_po_resecie_drop_true =
   Pierwsza     Druga   Trzecia
0  0.579543 -0.129689  0.347371
1  0.088428  0.819645 -0.502958
2  0.871076 -1.652194  0.192992
3  0.226394 -0.607706  0.359438
4 -1.517297 -0.940607 -0.307230

In [7]:
# %% kolumny df1 to a,b,c,d
print()
df1 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print("df1 o kolumnach a,b,c,d")
print("df1 =")
print(df1)

# %% kolumny df1 to e,f,g,h
print()
df2 = pd.DataFrame(np.random.rand(10, 4), columns=list('efgh'))
print("df2 o kolumnach e,f,g,h")
print("df2 =")
print(df2)

df1 o kolumnach a,b,c,d
df1 =
          a         b         c         d
0  0.052868  0.246904  0.645289  0.254025
1  0.936844  0.379120  0.286878  0.488741
2  0.112736  0.623736  0.415929  0.885680
3  0.815966  0.518962  0.352745  0.591223
4  0.586910  0.715945  0.608319  0.349909
5  0.741581  0.771001  0.400236  0.974928
6  0.536751  0.338554  0.950855  0.479593
7  0.111810  0.249714  0.166668  0.431431
8  0.342511  0.090196  0.097058  0.049249
9  0.545270  0.484510  0.746423  0.914583

df2 o kolumnach e,f,g,h
df2 =
          e         f         g         h
0  0.737610  0.194934  0.942832  0.568837
1  0.069496  0.235669  0.650947  0.292099
2  0.225742  0.508011  0.170454  0.275638
3  0.481450  0.044526  0.460531  0.259788
4  0.838919  0.444575  0.567537  0.455080
5  0.589351  0.220590  0.871749  0.633056
6  0.734959  0.252807  0.832522  0.909799
7  0.248849  0.228936  0.940663  0.383401
8  0.761823  0.145390  0.573314  0.340201
9  0.793432  0.403233  0.453397  0.067331

In [8]:
print()
print("Domyślnie łączy po wierszach axis=0. Tam gdzie nie ma wartości to wstawia NaN.")
df = pd.concat([df1, df2])
print("df =")
print(df)

Domyślnie łączy po wierszach axis=0. Tam gdzie nie ma wartości to wstawia NaN.
df =
          a         b         c  ...         f         g         h
0  0.052868  0.246904  0.645289  ...       NaN       NaN       NaN
1  0.936844  0.379120  0.286878  ...       NaN       NaN       NaN
2  0.112736  0.623736  0.415929  ...       NaN       NaN       NaN
3  0.815966  0.518962  0.352745  ...       NaN       NaN       NaN
4  0.586910  0.715945  0.608319  ...       NaN       NaN       NaN
5  0.741581  0.771001  0.400236  ...       NaN       NaN       NaN
6  0.536751  0.338554  0.950855  ...       NaN       NaN       NaN
7  0.111810  0.249714  0.166668  ...       NaN       NaN       NaN
8  0.342511  0.090196  0.097058  ...       NaN       NaN       NaN
9  0.545270  0.484510  0.746423  ...       NaN       NaN       NaN
0       NaN       NaN       NaN  ...  0.194934  0.942832  0.568837
1       NaN       NaN       NaN  ...  0.235669  0.650947  0.292099
2       NaN       NaN       NaN  ...  0.508011  0.170454  0.275638
3       NaN       NaN       NaN  ...  0.044526  0.460531  0.259788
4       NaN       NaN       NaN  ...  0.444575  0.567537  0.455080
5       NaN       NaN       NaN  ...  0.220590  0.871749  0.633056
6       NaN       NaN       NaN  ...  0.252807  0.832522  0.909799
7       NaN       NaN       NaN  ...  0.228936  0.940663  0.383401
8       NaN       NaN       NaN  ...  0.145390  0.573314  0.340201
9       NaN       NaN       NaN  ...  0.403233  0.453397  0.067331

[20 rows x 8 columns]

In [9]:
print()
print("Łączenie po kolumnach, bo axis=1")
df = pd.concat([df1, df2], axis=1)
print("df =")
print(df)

Łączenie po kolumnach, bo axis=1
df =
          a         b         c  ...         f         g         h
0  0.052868  0.246904  0.645289  ...  0.194934  0.942832  0.568837
1  0.936844  0.379120  0.286878  ...  0.235669  0.650947  0.292099
2  0.112736  0.623736  0.415929  ...  0.508011  0.170454  0.275638
3  0.815966  0.518962  0.352745  ...  0.044526  0.460531  0.259788
4  0.586910  0.715945  0.608319  ...  0.444575  0.567537  0.455080
5  0.741581  0.771001  0.400236  ...  0.220590  0.871749  0.633056
6  0.536751  0.338554  0.950855  ...  0.252807  0.832522  0.909799
7  0.111810  0.249714  0.166668  ...  0.228936  0.940663  0.383401
8  0.342511  0.090196  0.097058  ...  0.145390  0.573314  0.340201
9  0.545270  0.484510  0.746423  ...  0.403233  0.453397  0.067331

[10 rows x 8 columns]

In [10]:
# %%
print()
print("Co drugi element z df1")
df1 = df1[::2]
print("df1 =")
print(df1)

Co drugi element z df1
df1 =
          a         b         c         d
0  0.052868  0.246904  0.645289  0.254025
2  0.112736  0.623736  0.415929  0.885680
4  0.586910  0.715945  0.608319  0.349909
6  0.536751  0.338554  0.950855  0.479593
8  0.342511  0.090196  0.097058  0.049249

In [11]:
print()
print("Przypomnienie df2 =")
print(df2)

Przypomnienie df2 =
          e         f         g         h
0  0.737610  0.194934  0.942832  0.568837
1  0.069496  0.235669  0.650947  0.292099
2  0.225742  0.508011  0.170454  0.275638
3  0.481450  0.044526  0.460531  0.259788
4  0.838919  0.444575  0.567537  0.455080
5  0.589351  0.220590  0.871749  0.633056
6  0.734959  0.252807  0.832522  0.909799
7  0.248849  0.228936  0.940663  0.383401
8  0.761823  0.145390  0.573314  0.340201
9  0.793432  0.403233  0.453397  0.067331

In [12]:
print()
print("Łączenie po kolumnach używając join='outer'")
df = pd.concat([df1,  df2], axis=1, join='outer')
print("df =")
print(df)

Łączenie po kolumnach używając join='outer'
df =
          a         b         c  ...         f         g         h
0  0.052868  0.246904  0.645289  ...  0.194934  0.942832  0.568837
1       NaN       NaN       NaN  ...  0.235669  0.650947  0.292099
2  0.112736  0.623736  0.415929  ...  0.508011  0.170454  0.275638
3       NaN       NaN       NaN  ...  0.044526  0.460531  0.259788
4  0.586910  0.715945  0.608319  ...  0.444575  0.567537  0.455080
5       NaN       NaN       NaN  ...  0.220590  0.871749  0.633056
6  0.536751  0.338554  0.950855  ...  0.252807  0.832522  0.909799
7       NaN       NaN       NaN  ...  0.228936  0.940663  0.383401
8  0.342511  0.090196  0.097058  ...  0.145390  0.573314  0.340201
9       NaN       NaN       NaN  ...  0.403233  0.453397  0.067331

[10 rows x 8 columns]

In [13]:
print()
print("Łączenie po kolumnach używając join='inner'")
df = pd.concat([df1, df2], axis=1, join='inner')
print("df =")
print(df)

Łączenie po kolumnach używając join='inner'
df =
          a         b         c  ...         f         g         h
0  0.052868  0.246904  0.645289  ...  0.194934  0.942832  0.568837
2  0.112736  0.623736  0.415929  ...  0.508011  0.170454  0.275638
4  0.586910  0.715945  0.608319  ...  0.444575  0.567537  0.455080
6  0.536751  0.338554  0.950855  ...  0.252807  0.832522  0.909799
8  0.342511  0.090196  0.097058  ...  0.145390  0.573314  0.340201

[5 rows x 8 columns]

In [14]:
print()
print("Przypomnienie s=")
print(s)

Przypomnienie s=
0    0.004693
1    0.638234
2    0.778071
3    0.562976
4    0.756678
5    0.300422
6    0.482250
7    0.997123
8    0.798458
9    0.281996
Name: x, dtype: float64

In [15]:
# %% łączenie Series i DataFrame po wierszach
print("append Series to DataFrame")
print(pd.concat([df1, s]))

append Series to DataFrame
          a         b         c         d         0
0  0.052868  0.246904  0.645289  0.254025       NaN
2  0.112736  0.623736  0.415929  0.885680       NaN
4  0.586910  0.715945  0.608319  0.349909       NaN
6  0.536751  0.338554  0.950855  0.479593       NaN
8  0.342511  0.090196  0.097058  0.049249       NaN
0       NaN       NaN       NaN       NaN  0.004693
1       NaN       NaN       NaN       NaN  0.638234
2       NaN       NaN       NaN       NaN  0.778071
3       NaN       NaN       NaN       NaN  0.562976
4       NaN       NaN       NaN       NaN  0.756678
5       NaN       NaN       NaN       NaN  0.300422
6       NaN       NaN       NaN       NaN  0.482250
7       NaN       NaN       NaN       NaN  0.997123
8       NaN       NaN       NaN       NaN  0.798458
9       NaN       NaN       NaN       NaN  0.281996

In [16]:
# %% łączenie Series i DataFrame po kolumnach
print("Po kolumnach. Wtedy nazwą kolumny jest nazwa Series, czyli x.")
print(pd.concat([df1, s], axis=1))

Po kolumnach. Wtedy nazwą kolumny jest nazwa Series, czyli x.
          a         b         c         d         x
0  0.052868  0.246904  0.645289  0.254025  0.004693
1       NaN       NaN       NaN       NaN  0.638234
2  0.112736  0.623736  0.415929  0.885680  0.778071
3       NaN       NaN       NaN       NaN  0.562976
4  0.586910  0.715945  0.608319  0.349909  0.756678
5       NaN       NaN       NaN       NaN  0.300422
6  0.536751  0.338554  0.950855  0.479593  0.482250
7       NaN       NaN       NaN       NaN  0.997123
8  0.342511  0.090196  0.097058  0.049249  0.798458
9       NaN       NaN       NaN       NaN  0.281996

In [17]:
# %%
print("Kolumny df1")
print(df1.columns)

Kolumny df1
Index(['a', 'b', 'c', 'd'], dtype='object')

In [18]:
# na nowo przypisuje te same kolumny do df2
df2.columns = ['e', 'f', 'g', 'h']
print(df2)

          e         f         g         h
0  0.737610  0.194934  0.942832  0.568837
1  0.069496  0.235669  0.650947  0.292099
2  0.225742  0.508011  0.170454  0.275638
3  0.481450  0.044526  0.460531  0.259788
4  0.838919  0.444575  0.567537  0.455080
5  0.589351  0.220590  0.871749  0.633056
6  0.734959  0.252807  0.832522  0.909799
7  0.248849  0.228936  0.940663  0.383401
8  0.761823  0.145390  0.573314  0.340201
9  0.793432  0.403233  0.453397  0.067331

In [19]:
# łączenie df1 i df2 pod kolumnach
df = pd.concat([df1, df2], axis=1)
print("df =")
print(df)

df =
          a         b         c  ...         f         g         h
0  0.052868  0.246904  0.645289  ...  0.194934  0.942832  0.568837
1       NaN       NaN       NaN  ...  0.235669  0.650947  0.292099
2  0.112736  0.623736  0.415929  ...  0.508011  0.170454  0.275638
3       NaN       NaN       NaN  ...  0.044526  0.460531  0.259788
4  0.586910  0.715945  0.608319  ...  0.444575  0.567537  0.455080
5       NaN       NaN       NaN  ...  0.220590  0.871749  0.633056
6  0.536751  0.338554  0.950855  ...  0.252807  0.832522  0.909799
7       NaN       NaN       NaN  ...  0.228936  0.940663  0.383401
8  0.342511  0.090196  0.097058  ...  0.145390  0.573314  0.340201
9       NaN       NaN       NaN  ...  0.403233  0.453397  0.067331

[10 rows x 8 columns]