<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/pandas_course/05_merge_join_concatenate/01_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# -*- coding: utf-8 -*-

"""
@author: krakowiakpawel9@gmail.com
@site: e-smartdata.org
"""

import numpy as np
import pandas as pd

In [18]:
print("Trzy DataFrame z rozkładu jednostajnego (uniform) o wartościach z przedziału [0,1),")
print("czyli U[0,1). Każda ma rozmiar 10 wierszy na 4 kolumny.")

df1 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df1 = ")
print(df1)

df2 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df2 = ")
print(df2)

df3 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print()
print("df3 = ")
print(df3)

Trzy DataFrame z rozkładu jednostajnego (uniform) o wartościach z przedziału [0,1),
czyli U[0,1). Każda ma rozmiar 10 wierszy na 4 kolumny.

df1 =
          a         b         c         d
0  0.030166  0.949321  0.422683  0.142173
1  0.380288  0.853673  0.856570  0.914807
2  0.056983  0.836601  0.599516  0.138396
3  0.708525  0.680188  0.070790  0.227238
4  0.454330  0.396916  0.723305  0.361549
5  0.217804  0.066069  0.391667  0.401514
6  0.663664  0.636550  0.928856  0.593711
7  0.139019  0.741013  0.583708  0.764533
8  0.704795  0.727986  0.730930  0.047175
9  0.183562  0.265831  0.843108  0.567763

df2 =
          a         b         c         d
0  0.606874  0.122205  0.398354  0.494062
1  0.252972  0.539714  0.692718  0.239538
2  0.361124  0.631076  0.638780  0.661553
3  0.245448  0.472042  0.748557  0.613912
4  0.893709  0.310504  0.068378  0.453471
5  0.691689  0.416212  0.745243  0.522603
6  0.519319  0.612826  0.588183  0.524767
7  0.590725  0.682882  0.377796  0.718651
8  0.261160  0.990943  0.418865  0.852637
9  0.835679  0.676153  0.532469  0.737526

df3 =
          a         b         c         d
0  0.297315  0.113644  0.201115  0.417766
1  0.286172  0.162886  0.678612  0.011119
2  0.406527  0.818367  0.790007  0.188742
3  0.333330  0.192970  0.509375  0.251090
4  0.887934  0.681411  0.339093  0.731186
5  0.991537  0.534234  0.837247  0.426490
6  0.403478  0.506883  0.701651  0.473169
7  0.976960  0.841819  0.058980  0.458725
8  0.964632  0.407169  0.842590  0.784675
9  0.212927  0.386994  0.305131  0.717221

In [19]:
print("Series o nazwie x, która zawiera 10 liczb z rozkładu U[0,1).")
s = pd.Series(np.random.rand(10), name='x')
print("s = ")
print(s)

Series o nazwie x, która zawiera 10 liczb z rozkładu U[0,1).
s =
0    0.548145
1    0.448404
2    0.413037
3    0.130629
4    0.619229
5    0.744581
6    0.266167
7    0.094878
8    0.904780
9    0.100740
Name: x, dtype: float64

In [20]:
# %% concat bez pamiętania indeksów
print()
df = pd.concat([df1, df2, df3], ignore_index=True)
print("Domyślnie łączy po wierszach axis=0.")
print("Parametr ignore_index=True ignoruje indeksy ze składowych df.")
print("Domyślnie ignore_index=False czyli pobiera indeksy ze składowych df1,df2,df3.")
print("df =")
print(df)

Domyślnie łączy po wierszach axis=0.
Parametr ignore_index=True ignoruje indeksy ze składowych df.
Domyślnie ignore_index=False czyli pobiera indeksy ze składowych df1,df2,df3.
df =
           a         b         c         d
0   0.030166  0.949321  0.422683  0.142173
1   0.380288  0.853673  0.856570  0.914807
2   0.056983  0.836601  0.599516  0.138396
3   0.708525  0.680188  0.070790  0.227238
4   0.454330  0.396916  0.723305  0.361549
5   0.217804  0.066069  0.391667  0.401514
6   0.663664  0.636550  0.928856  0.593711
7   0.139019  0.741013  0.583708  0.764533
8   0.704795  0.727986  0.730930  0.047175
9   0.183562  0.265831  0.843108  0.567763
10  0.606874  0.122205  0.398354  0.494062
11  0.252972  0.539714  0.692718  0.239538
12  0.361124  0.631076  0.638780  0.661553
13  0.245448  0.472042  0.748557  0.613912
14  0.893709  0.310504  0.068378  0.453471
15  0.691689  0.416212  0.745243  0.522603
16  0.519319  0.612826  0.588183  0.524767
17  0.590725  0.682882  0.377796  0.718651
18  0.261160  0.990943  0.418865  0.852637
19  0.835679  0.676153  0.532469  0.737526
20  0.297315  0.113644  0.201115  0.417766
21  0.286172  0.162886  0.678612  0.011119
22  0.406527  0.818367  0.790007  0.188742
23  0.333330  0.192970  0.509375  0.251090
24  0.887934  0.681411  0.339093  0.731186
25  0.991537  0.534234  0.837247  0.426490
26  0.403478  0.506883  0.701651  0.473169
27  0.976960  0.841819  0.058980  0.458725
28  0.964632  0.407169  0.842590  0.784675
29  0.212927  0.386994  0.305131  0.717221

In [21]:
# %%
print()
df = pd.concat([df1, df2, df3])
df.reset_index()
print("Domyślnie jest ignore_index=False więc indeksy zachowa z początkowych df.")
print("Tutaj nie działa reset_index() bo ta metoda bierze wcześniej ustalone indeksy")
print("i robi z nich kolumnę, a jako indeksy bierze liczby 0,1,2,...")
print("U nas wcześniej były tylko 0,1,2,... więc nie ma co resetować")
print("df =")
print(df)

Domyślnie jest ignore_index=False więc indeksy zachowa z początkowych df.
Tutaj nie działa reset_index() bo ta metoda bierze wcześniej ustalone indeksy
i robi z nich kolumnę, a jako indeksy bierze liczby 0,1,2,...
U nas wcześniej były tylko 0,1,2,... więc nie ma co resetować
df =
          a         b         c         d
0  0.030166  0.949321  0.422683  0.142173
1  0.380288  0.853673  0.856570  0.914807
2  0.056983  0.836601  0.599516  0.138396
3  0.708525  0.680188  0.070790  0.227238
4  0.454330  0.396916  0.723305  0.361549
5  0.217804  0.066069  0.391667  0.401514
6  0.663664  0.636550  0.928856  0.593711
7  0.139019  0.741013  0.583708  0.764533
8  0.704795  0.727986  0.730930  0.047175
9  0.183562  0.265831  0.843108  0.567763
0  0.606874  0.122205  0.398354  0.494062
1  0.252972  0.539714  0.692718  0.239538
2  0.361124  0.631076  0.638780  0.661553
3  0.245448  0.472042  0.748557  0.613912
4  0.893709  0.310504  0.068378  0.453471
5  0.691689  0.416212  0.745243  0.522603
6  0.519319  0.612826  0.588183  0.524767
7  0.590725  0.682882  0.377796  0.718651
8  0.261160  0.990943  0.418865  0.852637
9  0.835679  0.676153  0.532469  0.737526
0  0.297315  0.113644  0.201115  0.417766
1  0.286172  0.162886  0.678612  0.011119
2  0.406527  0.818367  0.790007  0.188742
3  0.333330  0.192970  0.509375  0.251090
4  0.887934  0.681411  0.339093  0.731186
5  0.991537  0.534234  0.837247  0.426490
6  0.403478  0.506883  0.701651  0.473169
7  0.976960  0.841819  0.058980  0.458725
8  0.964632  0.407169  0.842590  0.784675
9  0.212927  0.386994  0.305131  0.717221

In [22]:
# moje
print()
print("Sam robię df ze swoimi indeksami, żeby potem je zresetować.")
moje_indeksy = ['A', 'B', 'C', 'D', 'E']
moje_df = pd.DataFrame(data=np.random.randn(5,3), 
                       index=moje_indeksy,
                       columns=["Pierwsza", "Druga", "Trzecia"])
print("moje_df =")
print(moje_df)
print()
print("Po resecie indeksów")
moje_df_po_resecie = moje_df.reset_index()
print("moje_df_po_resecie =")
print(moje_df_po_resecie)

print()
print("Po resecie indeksów i drop=True, czyli w ogóle usuwa wcześniej ustawiony indeks.")
moje_df_po_resecie_drop_true = moje_df.reset_index(drop=True)
print("moje_df_po_resecie_drop_true =")
print(moje_df_po_resecie_drop_true)

Sam robię df ze swoimi indeksami, żeby potem je zresetować.
moje_df =
   Pierwsza     Druga   Trzecia
A -1.577475  0.006931  0.393283
B -0.135233  0.708777  0.158277
C  0.628840  0.721079 -1.395565
D -1.883184  0.971759  0.268608
E -2.443375 -0.537171  1.012546

Po resecie indeksów
moje_df_po_resecie =
  index  Pierwsza     Druga   Trzecia
0     A -1.577475  0.006931  0.393283
1     B -0.135233  0.708777  0.158277
2     C  0.628840  0.721079 -1.395565
3     D -1.883184  0.971759  0.268608
4     E -2.443375 -0.537171  1.012546

Po resecie indeksów i drop=True, czyli w ogóle usuwa wcześniej ustawiony indeks.
moje_df_po_resecie_drop_true =
   Pierwsza     Druga   Trzecia
0 -1.577475  0.006931  0.393283
1 -0.135233  0.708777  0.158277
2  0.628840  0.721079 -1.395565
3 -1.883184  0.971759  0.268608
4 -2.443375 -0.537171  1.012546

In [23]:
# %% kolumny df1 to a,b,c,d
print()
df1 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
print("df1 o kolumnach a,b,c,d")
print("df1 =")
print(df1)

# %% kolumny df1 to e,f,g,h
print()
df2 = pd.DataFrame(np.random.rand(10, 4), columns=list('efgh'))
print("df2 o kolumnach e,f,g,h")
print("df2 =")
print(df2)

df1 o kolumnach a,b,c,d
df1 =
          a         b         c         d
0  0.642521  0.789602  0.792409  0.875932
1  0.333054  0.569246  0.104272  0.778716
2  0.918450  0.473108  0.643973  0.993106
3  0.320657  0.591423  0.481258  0.549208
4  0.878696  0.938952  0.233833  0.611901
5  0.891479  0.703772  0.345132  0.811088
6  0.437850  0.348010  0.516337  0.933949
7  0.120800  0.204964  0.800580  0.640592
8  0.350574  0.488601  0.670753  0.580252
9  0.523331  0.911314  0.835745  0.087371

df2 o kolumnach e,f,g,h
df2 =
          e         f         g         h
0  0.510326  0.714631  0.085819  0.832100
1  0.923070  0.659489  0.844309  0.061199
2  0.034451  0.708781  0.192297  0.830001
3  0.260343  0.698061  0.548750  0.758154
4  0.694430  0.935200  0.509296  0.806229
5  0.652161  0.998936  0.913674  0.193949
6  0.959036  0.301084  0.637048  0.645774
7  0.653127  0.153900  0.974905  0.766991
8  0.823665  0.369939  0.790115  0.546803
9  0.188122  0.480002  0.942260  0.163738

In [24]:
print()
print("Domyślnie łączy po wierszach axis=0. Tam gdzie nie ma wartości to wstawia NaN.")
# sam dodałem keys (czyli najbardziej zewnętrzny hierarchiczny indeks)
# sam dodałem names (czyli nazwy hierarchicznego indeksu oraz zwykłego indeksu)
df = pd.concat([df1, df2], keys=["df1_hierarch", "df2_hierarch"], names=["index_hierarch", "index_zwykly"])
print("df =")
print(df)

Domyślnie łączy po wierszach axis=0. Tam gdzie nie ma wartości to wstawia NaN.
df =
                                    a         b  ...         g         h
index_hierarch index_zwykly                      ...
df1_hierarch   0             0.642521  0.789602  ...       NaN       NaN
               1             0.333054  0.569246  ...       NaN       NaN
               2             0.918450  0.473108  ...       NaN       NaN
               3             0.320657  0.591423  ...       NaN       NaN
               4             0.878696  0.938952  ...       NaN       NaN
               5             0.891479  0.703772  ...       NaN       NaN
               6             0.437850  0.348010  ...       NaN       NaN
               7             0.120800  0.204964  ...       NaN       NaN
               8             0.350574  0.488601  ...       NaN       NaN
               9             0.523331  0.911314  ...       NaN       NaN
df2_hierarch   0                  NaN       NaN  ...  0.085819  0.832100
               1                  NaN       NaN  ...  0.844309  0.061199
               2                  NaN       NaN  ...  0.192297  0.830001
               3                  NaN       NaN  ...  0.548750  0.758154
               4                  NaN       NaN  ...  0.509296  0.806229
               5                  NaN       NaN  ...  0.913674  0.193949
               6                  NaN       NaN  ...  0.637048  0.645774
               7                  NaN       NaN  ...  0.974905  0.766991
               8                  NaN       NaN  ...  0.790115  0.546803
               9                  NaN       NaN  ...  0.942260  0.163738

[20 rows x 8 columns]

In [25]:
print()
print("Łączenie po kolumnach, bo axis=1")
df = pd.concat([df1, df2], axis=1)
print("df =")
print(df)

Łączenie po kolumnach, bo axis=1
df =
          a         b         c  ...         f         g         h
0  0.642521  0.789602  0.792409  ...  0.714631  0.085819  0.832100
1  0.333054  0.569246  0.104272  ...  0.659489  0.844309  0.061199
2  0.918450  0.473108  0.643973  ...  0.708781  0.192297  0.830001
3  0.320657  0.591423  0.481258  ...  0.698061  0.548750  0.758154
4  0.878696  0.938952  0.233833  ...  0.935200  0.509296  0.806229
5  0.891479  0.703772  0.345132  ...  0.998936  0.913674  0.193949
6  0.437850  0.348010  0.516337  ...  0.301084  0.637048  0.645774
7  0.120800  0.204964  0.800580  ...  0.153900  0.974905  0.766991
8  0.350574  0.488601  0.670753  ...  0.369939  0.790115  0.546803
9  0.523331  0.911314  0.835745  ...  0.480002  0.942260  0.163738

[10 rows x 8 columns]

In [26]:
# %%
print()
print("Co drugi element z df1")
df1 = df1[::2]
print("df1 =")
print(df1)

Co drugi element z df1
df1 =
          a         b         c         d
0  0.642521  0.789602  0.792409  0.875932
2  0.918450  0.473108  0.643973  0.993106
4  0.878696  0.938952  0.233833  0.611901
6  0.437850  0.348010  0.516337  0.933949
8  0.350574  0.488601  0.670753  0.580252

In [27]:
print()
print("Przypomnienie df2 =")
print(df2)

Przypomnienie df2 =
          e         f         g         h
0  0.510326  0.714631  0.085819  0.832100
1  0.923070  0.659489  0.844309  0.061199
2  0.034451  0.708781  0.192297  0.830001
3  0.260343  0.698061  0.548750  0.758154
4  0.694430  0.935200  0.509296  0.806229
5  0.652161  0.998936  0.913674  0.193949
6  0.959036  0.301084  0.637048  0.645774
7  0.653127  0.153900  0.974905  0.766991
8  0.823665  0.369939  0.790115  0.546803
9  0.188122  0.480002  0.942260  0.163738

In [28]:
print()
print("Łączenie po kolumnach używając join='outer'")
df = pd.concat([df1,  df2], axis=1, join='outer')
print("df =")
print(df)

Łączenie po kolumnach używając join='outer'
df =
          a         b         c  ...         f         g         h
0  0.642521  0.789602  0.792409  ...  0.714631  0.085819  0.832100
1       NaN       NaN       NaN  ...  0.659489  0.844309  0.061199
2  0.918450  0.473108  0.643973  ...  0.708781  0.192297  0.830001
3       NaN       NaN       NaN  ...  0.698061  0.548750  0.758154
4  0.878696  0.938952  0.233833  ...  0.935200  0.509296  0.806229
5       NaN       NaN       NaN  ...  0.998936  0.913674  0.193949
6  0.437850  0.348010  0.516337  ...  0.301084  0.637048  0.645774
7       NaN       NaN       NaN  ...  0.153900  0.974905  0.766991
8  0.350574  0.488601  0.670753  ...  0.369939  0.790115  0.546803
9       NaN       NaN       NaN  ...  0.480002  0.942260  0.163738

[10 rows x 8 columns]

In [29]:
print()
print("Łączenie po kolumnach używając join='inner'")
df = pd.concat([df1, df2], axis=1, join='inner')
print("df =")
print(df)

Łączenie po kolumnach używając join='inner'
df =
          a         b         c  ...         f         g         h
0  0.642521  0.789602  0.792409  ...  0.714631  0.085819  0.832100
2  0.918450  0.473108  0.643973  ...  0.708781  0.192297  0.830001
4  0.878696  0.938952  0.233833  ...  0.935200  0.509296  0.806229
6  0.437850  0.348010  0.516337  ...  0.301084  0.637048  0.645774
8  0.350574  0.488601  0.670753  ...  0.369939  0.790115  0.546803

[5 rows x 8 columns]

In [30]:
print()
print("Przypomnienie s=")
print(s)

Przypomnienie s=
0    0.548145
1    0.448404
2    0.413037
3    0.130629
4    0.619229
5    0.744581
6    0.266167
7    0.094878
8    0.904780
9    0.100740
Name: x, dtype: float64

In [31]:
# %% łączenie Series i DataFrame po wierszach
print("append Series to DataFrame")
print(pd.concat([df1, s]))

append Series to DataFrame
          a         b         c         d         0
0  0.642521  0.789602  0.792409  0.875932       NaN
2  0.918450  0.473108  0.643973  0.993106       NaN
4  0.878696  0.938952  0.233833  0.611901       NaN
6  0.437850  0.348010  0.516337  0.933949       NaN
8  0.350574  0.488601  0.670753  0.580252       NaN
0       NaN       NaN       NaN       NaN  0.548145
1       NaN       NaN       NaN       NaN  0.448404
2       NaN       NaN       NaN       NaN  0.413037
3       NaN       NaN       NaN       NaN  0.130629
4       NaN       NaN       NaN       NaN  0.619229
5       NaN       NaN       NaN       NaN  0.744581
6       NaN       NaN       NaN       NaN  0.266167
7       NaN       NaN       NaN       NaN  0.094878
8       NaN       NaN       NaN       NaN  0.904780
9       NaN       NaN       NaN       NaN  0.100740

In [32]:
# %% łączenie Series i DataFrame po kolumnach
print("Po kolumnach. Wtedy nazwą kolumny jest nazwa Series, czyli x.")
print(pd.concat([df1, s], axis=1))

Po kolumnach. Wtedy nazwą kolumny jest nazwa Series, czyli x.
          a         b         c         d         x
0  0.642521  0.789602  0.792409  0.875932  0.548145
1       NaN       NaN       NaN       NaN  0.448404
2  0.918450  0.473108  0.643973  0.993106  0.413037
3       NaN       NaN       NaN       NaN  0.130629
4  0.878696  0.938952  0.233833  0.611901  0.619229
5       NaN       NaN       NaN       NaN  0.744581
6  0.437850  0.348010  0.516337  0.933949  0.266167
7       NaN       NaN       NaN       NaN  0.094878
8  0.350574  0.488601  0.670753  0.580252  0.904780
9       NaN       NaN       NaN       NaN  0.100740

In [33]:
# %%
print("Kolumny df1")
print(df1.columns)

Kolumny df1
Index(['a', 'b', 'c', 'd'], dtype='object')

In [34]:
# na nowo przypisuje te same kolumny do df2
df2.columns = ['e', 'f', 'g', 'h']
print(df2)

          e         f         g         h
0  0.510326  0.714631  0.085819  0.832100
1  0.923070  0.659489  0.844309  0.061199
2  0.034451  0.708781  0.192297  0.830001
3  0.260343  0.698061  0.548750  0.758154
4  0.694430  0.935200  0.509296  0.806229
5  0.652161  0.998936  0.913674  0.193949
6  0.959036  0.301084  0.637048  0.645774
7  0.653127  0.153900  0.974905  0.766991
8  0.823665  0.369939  0.790115  0.546803
9  0.188122  0.480002  0.942260  0.163738

In [35]:
# łączenie df1 i df2 pod kolumnach
df = pd.concat([df1, df2], axis=1)
print("df =")
print(df)

df =
          a         b         c  ...         f         g         h
0  0.642521  0.789602  0.792409  ...  0.714631  0.085819  0.832100
1       NaN       NaN       NaN  ...  0.659489  0.844309  0.061199
2  0.918450  0.473108  0.643973  ...  0.708781  0.192297  0.830001
3       NaN       NaN       NaN  ...  0.698061  0.548750  0.758154
4  0.878696  0.938952  0.233833  ...  0.935200  0.509296  0.806229
5       NaN       NaN       NaN  ...  0.998936  0.913674  0.193949
6  0.437850  0.348010  0.516337  ...  0.301084  0.637048  0.645774
7       NaN       NaN       NaN  ...  0.153900  0.974905  0.766991
8  0.350574  0.488601  0.670753  ...  0.369939  0.790115  0.546803
9       NaN       NaN       NaN  ...  0.480002  0.942260  0.163738

[10 rows x 8 columns]