<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/machine-learning-bootcamp/supervised/01_basics/01_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### scikit-learn
Strona biblioteki: [https://scikit-learn.org](https://scikit-learn.org)  

Dokumentacja/User Guide: [https://scikit-learn.org/stable/user_guide.html](https://scikit-learn.org/stable/user_guide.html)

Podstawowa biblioteka do uczenia maszynowego w języku Python.

Aby zainstalować bibliotekę scikit-learn, użyj polecenia poniżej:
```
!pip install scikit-learn
```
Aby zaktualizować do najnowszej wersji bibliotekę scikit-learn, użyj polecenia poniżej:
```
!pip install --upgrade scikit-learn
```
Kurs stworzony w oparciu o wersję `0.22.1`

### Preprocessing danych:
1. [Import bibliotek](#0)
2. [Wygenerowanie danych](#1)
3. [Utworzenie kopii danych](#2)
4. [Zmiana typu danych i wstępna eksploracja](#3)
5. [LabelEncoder](#4)
6. [OneHotEncoder](#5)
7. [Pandas *get_dummies()*](#6)
8. [Standaryzacja - StandardScaler](#7)
9. [Przygotowanie danych do modelu](#8)

### <a name='0'></a> Import bibliotek

In [37]:
print("############################################################")
print("Etap4. Odcinek1: Przygotowanie danych do modelu - ćwiczenie cz. 1")

############################################################
Etap4. Odcinek1: Przygotowanie danych do modelu - ćwiczenie cz. 1

In [38]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'0.22.2.post1'

### <a name='1'></a> Wygenerowanie danych

In [39]:
# kluczami słownika są nazwy kolumn, a wartościami listy zawierające zawartość kolumn
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

### <a name='2'></a> Utworzenie kopii danych

In [40]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

### <a name='3'></a> Zmiana typu danych i wstępna eksploracja

In [41]:
# zamiana stringów na dane kategorialne
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')

# zamiana int na float
df['weight'] = df['weight'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 628.0 bytes

In [42]:
# statystyki dla kolumn numerycznych
df.describe()

            price      weight
count    5.000000    5.000000
mean   119.000000  408.000000
std     48.476799   75.299402
min     79.000000  300.000000
25%     89.000000  380.000000
50%     99.000000  410.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [43]:
df.describe().T

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.299402  300.0  380.0  410.0  450.0  500.0

In [44]:
# statystyki dla danych kategorialnych (wcześniej stringi zostały zamienione na kategorialne)
df.describe(include=['category']).T
# top to najczęściej powtarzająca się wartość
# freq to ile razy powtarza się top

       count unique     top freq
size       5      3       M    2
color      5      3     red    2
gender     5      2  female    3
bought     5      2     yes    3

In [45]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

### <a name='4'></a> LabelEncoder (kodowanie targetu)

In [46]:
from sklearn.preprocessing import LabelEncoder

# klasa LabelEncoder zamienia kolumnę targetów (bought) z danych kategorialnych na liczbowe
le = LabelEncoder()
# dopasowanie kolumny bought
# print(le.fit(df['bought']) wyświetliłby LabelEncoder()
le.fit(df['bought'])
# wyświetla przekształconą kolumnę bought na wartości 0,1
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [47]:
# można zamiast metod fit i transform od razu jedną fit_transform
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [48]:
# atrybut classes_ obiektu z klasy LabelEncoder 
le.classes_

array(['no', 'yes'], dtype=object)

In [49]:
# dopiero teraz zmieniam kolumnę bought na zakodowaną
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [50]:
# powrót z zakodowanych z powrotem na dane kategorialne
le.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

In [51]:
# zamienia kolumnę bought z zakodowanych z powrotem na dane kategorialne
df['bought'] = le.inverse_transform(df['bought'])
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

### <a name='5'></a> OneHotEncoder

In [52]:
print("############################################################")
print("Etap4. Odcinek2: Przygotowanie danych do modelu - ćwiczenie cz. 2")

from sklearn.preprocessing import OneHotEncoder

# sparse=False oznacza że nie będzie macierzy rzadkiej, której nie możemy zobaczyć.
# Ona by nie miała tych zer obok jedynki, ale tylko pozycję, na które jest jedynka
encoder = OneHotEncoder(sparse=False)
# dopasowuje kodowanie
encoder.fit(df[['size']])

############################################################
Etap4. Odcinek2: Przygotowanie danych do modelu - ćwiczenie cz. 2

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=False)

In [53]:
# wykonuje kodowanie
encoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [54]:
# atrybut categories_ wyświetla w jakiej kolejności są zakodowane dane
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [55]:
# drop="first" to opuszczenie pierwszej wartości w każdej kategorii 
# czyli usuwa pierwszą kolumnę, żeby nie było liniowej zależności
encoder = OneHotEncoder(drop='first', sparse=False)
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

In [56]:
# pokazauje 3 wartości, ale pierwsza nie została zakodowana, bo drop='first'
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [57]:
# kolumna size nie zmieniła się, bo nie przypisywaliśmy nowych wartości
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes

### <a name='6'></a> Pandas *get_dummies()*

In [58]:
# wg niego ta funkcja lepsza niż OneHotEncoder
pd.get_dummies(data=df)

   price  weight  size_L  ...  gender_male  bought_no  bought_yes
0  199.0   500.0       0  ...            0          0           1
1   89.0   450.0       1  ...            1          1           0
2   99.0   300.0       0  ...            1          0           1
3  129.0   380.0       1  ...            0          1           0
4   79.0   410.0       0  ...            0          0           1

[5 rows x 12 columns]

In [59]:
# drop_first=True robi tak, że dla każdej kolumny jeśli miała ona n wartości
# to po zakodowaniu powstanie n-1 kolumn (nie bedzie liniowo zależnych)
pd.get_dummies(data=df, drop_first=True)

   price  weight  size_M  ...  color_red  gender_male  bought_yes
0  199.0   500.0       0  ...          1            0           1
1   89.0   450.0       0  ...          0            1           0
2   99.0   300.0       1  ...          0            1           1
3  129.0   380.0       0  ...          0            0           0
4   79.0   410.0       1  ...          1            0           1

[5 rows x 8 columns]

In [60]:
# mogę ustalić prefix
pd.get_dummies(data=df, drop_first=True, prefix='new')

   price  weight  new_M  new_XL  new_green  new_red  new_male  new_yes
0  199.0   500.0      0       1          0        1         0        1
1   89.0   450.0      0       0          1        0         1        0
2   99.0   300.0      1       0          0        0         1        1
3  129.0   380.0      0       0          1        0         0        0
4   79.0   410.0      1       0          0        1         0        1

In [61]:
# mogę ustalić seperator (domyślnie jest podkreślnik)
pd.get_dummies(data=df, drop_first=True, prefix_sep='-')

   price  weight  size-M  ...  color-red  gender-male  bought-yes
0  199.0   500.0       0  ...          1            0           1
1   89.0   450.0       0  ...          0            1           0
2   99.0   300.0       1  ...          0            1           1
3  129.0   380.0       0  ...          0            0           0
4   79.0   410.0       1  ...          1            0           1

[5 rows x 8 columns]

In [62]:
# mogę wybrać które kolumny zakodować
pd.get_dummies(data=df, drop_first=True, columns=['size'])

   color  gender  price  weight bought  size_M  size_XL
0    red  female  199.0   500.0    yes       0        1
1  green    male   89.0   450.0     no       0        0
2   blue    male   99.0   300.0    yes       1        0
3  green  female  129.0   380.0     no       0        0
4    red  female   79.0   410.0    yes       1        0

### <a name='7'></a> Standaryzacja - StandardScaler

std() - pandas nieobciążony  
std() - numpy obciążony

In [63]:
print("############################################################")
print("Etap4. Odcinek2: Przygotowanie danych do modelu - ćwiczenie cz. 3")

# dla biblioteki pandas std jest nieobciążony
print(f"{df['price']}\n")
print(f"Średnia: {df['price'].mean()}")
print(f"Odchylenie standardowe: {df['price'].std():.4f}")

############################################################
Etap4. Odcinek2: Przygotowanie danych do modelu - ćwiczenie cz. 3
0    199.0
1     89.0
2     99.0
3    129.0
4     79.0
Name: price, dtype: float64

Średnia: 119.0
Odchylenie standardowe: 48.4768

In [64]:
# na piechotę standaryzowanie
(df['price'] - df['price'].mean()) / df['price'].std()

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [65]:
# funkcja standaryzująca, która przyjmuje kolumnę z df, którą ma wystandaryzować
def standardize(x):
    return (x - x.mean()) / x.std()

standardize(df['price'])

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [66]:
from sklearn.preprocessing import scale
# te wartości różnią się od powyższych, bo sklearn używa numpy, która używa 
# obciążonego estymatora wariancji (a więc i odchylenie standardowe będzie obciążone)
scale(df['price'])

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

In [67]:
from sklearn.preprocessing import StandardScaler
# klasa StandardScaler lepsza od funkcji scale, bo pozwala zachować na przyszłość
# wartości statystyk. Tylko, że też obciążone odchylenie
scaler = StandardScaler()
# dopasowuje kolumnę price
scaler.fit(df[['price']])
# transformuje kolumnę price, ale to nie zmieni df bo nie nadpisuje kolumny
scaler.transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [68]:
scaler = StandardScaler()
# teraz już zmienia kolumny w df
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])
df

  size  color  gender     price    weight bought
0   XL    red  female  1.845062  1.366002    yes
1    L  green    male -0.691898  0.623610     no
2    M   blue    male -0.461266 -1.603567    yes
3    L  green  female  0.230633 -0.415740     no
4    M    red  female -0.922531  0.029696    yes

### <a name='8'></a> Przygotowanie danych do modelu (wszystko od początku)

In [69]:
# od nowa kopiuje do df
df = df_raw.copy()
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [70]:
le = LabelEncoder()
# zakodowuje target
df['bought'] = le.fit_transform(df['bought'])

# standaryzuje price i weight
scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

# zakodowuje pozostałe zmienne objaśniające.
# Potem do modelu trzeba wyciąć kolumnę bought
df = pd.get_dummies(data=df, drop_first=True)
df

      price    weight  bought  ...  color_green  color_red  gender_male
0  1.845062  1.366002       1  ...            0          1            0
1 -0.691898  0.623610       0  ...            1          0            1
2 -0.461266 -1.603567       1  ...            0          0            1
3  0.230633 -0.415740       0  ...            1          0            0
4 -0.922531  0.029696       1  ...            0          1            0

[5 rows x 8 columns]